@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit;}

cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

.landing-container{
  background-color: #f8fafc;
}
/* li{
  transition: .7s;
}
li:hover{
   color: #162082;
   transition-timing-function: ease-in-out;
} */

/* primary button */
  





