
/* img{
  display: none;
} */
.get-started{
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 35px;
  background: #ffffff;
  padding-bottom: 32px;
}
.head{
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 32px;
}
.p{
  width: 36px;
  align-content: center;
  text-align: center;
  background-color: #fe5d0c;
  border-radius: 50%;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #F8FAFC;
  margin-bottom: 8px;
}
.quick-register{
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
  color:#494B83;
  margin-bottom:14px;
}
.text{
  font-size: 14px;
  line-height: 20px;
  color:#5E6366;
  margin-bottom:32px;
}
/* .feature-btn {
  height: 40px;
  width: 159px;
  border-radius: 13px;
  border: 1px solid #162082;
  background-color: #162082;
  font-weight: 500;
  color: white;
  letter-spacing: 0.01em;
} */
@media screen and (min-width: 800px){
  .get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    
  }
  .head{
    margin-top:34px;
    font-size: 32px;
  }
  .quick-registration{
    width: 30%;
  }
  .text{
    font-size: 16px;
    text-align: justify;
  }
}
