.hero-section {
    width: 100%;
    padding-top: 10% !important;
    padding-left: 7%;
    padding-right: 7%;
    background-color: #F8FAFC;
  }
  
  .hero-info{
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 14px;
  }

  .hero-join-text{
    width: 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5E6366;
    margin-bottom: 20px;
  }
  .hero-img{
    width: 100%;
    position: relative;
  }
  .curl {
    top: 30px;
    left: 30px;
    position: absolute;
  }
  .eliment {
    top: 30px;
    right: 50px;
    position: absolute;
  }
  .arrDown {
    width: 40px;
  }
  .oshape {
    width: 20px;
    position: absolute;
    left: 200px;
    bottom: -20px;
  }
  .baked {
    position: absolute;
    left: 140px;
    bottom: 20px;
  }
  .female{
    position: relative;
    width: 80%;
    transform: translate(20%,0);
  }
  .hero-content .circline {
    position: absolute;
    left: 440px;
    top: 86px;
  }
  @media (width: 280px) {
    .curl {
      display: none;
    }
  }
  @media (width: 821px) {
    .bluebox {
      display: none;
    }
  }
  @media (width: 822px) {
    .bluebox {
      display: none;
    }
    .eliment {
      display: none;
    }
  }
  @media only screen and (min-width: 821px) and 
  (max-width: 1300px){
    .bluebox {
      display: none;
    }
  }
  @media only screen and (min-width: 821px) and 
  (max-width: 1300px){
    .eliment {
      display: none;
    }
  }
  @media (width: 823px) {
    .bluebox {
      display: none;
    }
  }
  @media (width: 824px) {
    .bluebox {
      display: none;
    }
  }
  @media (width: 825px) {
    .bluebox {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .hero-content .circline {
      display: none;
    }
    .hero-img {
      position: relative;
    }
    .curl {
      position: absolute;
      left: 0;
    }
    .eliment {
      position: absolute;
      right: 30px;
      top: 0;
      width: 60px;
    }
    .baked {
      bottom: 0;
      width: 13px;
    }
  }
  @media screen and (min-width: 800px) {
    .hero-content{
      width: 62%;
    }
    .hero-section{
      display: flex;
      padding-top: 7%;
    }
    .oshape {
      width: 40px;
      left: 240px;
      bottom: -80px;
    }
    .hero-info{
      font-weight: 900;
      font-size: 52px;
      line-height: 64px;
    }
    .hero-img{
      width: 38%;
    }
    .female{
      top: 100px;
      position: relative;
      left: 0;
      width: 220px;
    }
    .curl {
      top: 160px;
      left: -40px;
    }
    .eliment {
      position: absolute;
      bottom: 0;
    }
    .arrDown {
      bottom: 100px;
      position: absolute;
    }
  }
  @media screen and (max-width: 820px) {
    .baked {
      left: 120px;
      top: 350px;
    }
    .eliment {
      top: 30px;
      right: 50px;
      position: absolute;
      width: 15%;
    }
    .bluebox {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) {
    .eliment {
      right: 100px;
    }
    .arrDown {
      bottom: 0px;
      right: 100px;
    }
    .female {
      width: 80%;
      top: 0;
      left: 90px;
      transform: translateX(-30px);
      z-index: 2;
    }
    .baked {
      bottom: 40px;
      left: 100px;
    }
    .oshape {
      width: 40px;
      left: 200px;
      bottom: -80px;
    }
    .hero-content{
      width: 50%;
    }
    .bluebox {
      width: 320px;
      position: absolute;
      right: 95px;
      top: 180px;
      z-index: 1;
    }
  }